:root {
    --green1: #88F26B;
    --green2: #7AD95F;
    --green3: #34592A;
    --green4: #66A649;
    --black: #0D0D0D;
    --roxo1: #8C3A87;
    --roxo2: #BF54B8;
    --roxo3: #F26DE9;
    --cinza: #F2F2F2;

}

.bgblack {

    background-color: var(--black);

}
